.store-table-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.ag-header-cell {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: left;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
}

.delete-btn:hover {
    color: red;
}